@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

@import "partials/_top.scss";
@import "partials/_faq.scss";
@import "partials/_panel.scss";
@import "partials/_documents.scss";

body{
  font-family: 'Lato';
}

p{
  margin: 0;
}

.active{
  background-color: #f6f6f6;
}

.hovered{
  background-color: #f5c8c8;
}

.rotated{
  transform: rotate(180deg);
}

.red{
  color: red;
}